.icon-qq,
.icon-sina {
  background-image: url("/image/sprites/icon.png");
  display: inline-block;
}
.icon-qq {
  background-position: 0px -31px;
  width: 20px;
  height: 23px;
}
.icon-sina {
  background-position: 0px 0px;
  width: 27px;
  height: 21px;
}
body {
  background: transparent url('/image/page/520.jpg') no-repeat 0 0;
  font-size: 14px;
}
h1 {
  background: transparent url('/image/page/top.png') no-repeat 0 0;
  color: #FF0000;
  height: 59px;
}
